@charset "UTF-8";

@media only screen and (min-width: 320px) and (max-width: 479px) {
	#subheader {
		position: relative;
		margin: 0;
	}
	
	#subheader h2 {
		text-transform: uppercase;
		padding: 1.25%;
		color: #FFF;
		margin-bottom: 0.5%;
		font-size: 0.8em;
	}
	
	.moviebox {
		width: 96%;
		position: relative;
		margin: 0.5% 0;
		padding: 2%;
		display: inline-block;
		background-color: #FFF;
	}
	
	.moviebox img {
		width: 40%;
		margin-right: 3%;
		float: left;
	}
	
	.moviebox h2 {
		margin: 0;
		color: #252525;
		text-transform: uppercase;
		font-size: 1em;
	}

	.moviebox h6 {
		font-size: 0.6em;
		margin: 0;
		padding: 0;
		color: #696969;
		letter-spacing: 0.12em;
		font-weight: lighter;
		margin-top: 0.75%;
		display: block;
	}
	
	.moviebox h3 {
		font-size: 0.7em; 
		color: #696969;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		margin: 0;
		margin-right: 2%;
	}
	
	.moviebox a {
		text-transform: uppercase;
		float: right;
		font-size: 0.8em;
		margin: 0 1%;
		color: #921719;
	}
	
	.total {
		color: #921719;
	}
	
	.total {
		color: #921719;
	}
	
	.category {
		display: inline-block;
		width: 56%;
		margin: 6% 0;
	}
	
	.category h3 {
		text-align: center;
		color: #FFF;
		background-color: #696969;
		padding: 3%;
		margin: 0;
	}
	
	.category ul {
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 0.65em;
		color: #696969;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	
	.category ul li {
		margin: 1% 0;
		padding: 8% 5%;
		background-color: #F1F1F1;
	}
	
	
	.summary {
		float: left;
		width: 100%;
		margin-bottom: 5%;
	}
	
	.ticketbox {
		width: 100%;
		float: right;
	}
	
	.tickets {
		border: thin dashed #696969;
		padding: 5%;
		display: inline-block;
		margin: 1% 0;
		font-size: 0.8em;
	}
	
	.tickets h3, h6, p {
		font-family: Inconsolata;
		color: #696969;
	}
	
	.tickets p {
		font-size: 0.9em;
	}
	
	.tickets img {
		display: block;
		width: 25%;
		float: right;
		margin: 1% 0;
	}
	
	.left {
		float: left;
		width: 65%;
	}
	
	.total {
		color: #921719;
	}
	
	.details {
		border-bottom: thin solid #921719;
		font-size: 1.2em;
		padding-bottom: 3%;
	}
	
	.right {
		float: right;
		clear: right;
		text-align: right;
		width: 35%;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	#subheader {
		position: relative;
		margin: 0;
	}
	
	#subheader h2 {
		text-transform: uppercase;
		padding: 1.25%;
		color: #FFF;
		margin-bottom: 0.5%;
		font-size: 0.9em;
	}
	
	.moviebox {
		width: 96%;
		position: relative;
		margin: 0.5% 0;
		padding: 2%;
		display: inline-block;
		background-color: #FFF;
	}
	
	.moviebox img {
		width: 40%;
		margin-right: 1.75%;
		float: left;
	}
	
	.moviebox h2 {
		margin: 0;
		color: #252525;
		text-transform: uppercase;
		font-size: 1.2em;
	}

	.moviebox h6 {
		font-size: 0.8em;
		margin: 0;
		padding: 0;
		color: #696969;
		letter-spacing: 0.12em;
		font-weight: lighter;
		margin-top: 0.75%;
		display: block;
	}
	
	.moviebox h3 {
		font-size: 0.9em; 
		color: #696969;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		margin: 0;
		margin-right: 2%;
	}
	
	.moviebox a {
		text-transform: uppercase;
		float: right;
		margin: 0 1%;
		color: #921719;
	}
	
	.total {
		color: #921719;
	}
	
	.total {
		color: #921719;
	}
	
	.category {
		display: inline-block;
		width: 58%;
		margin: 5% 0;
	}
	
	.category h3 {
		text-align: center;
		color: #FFF;
		background-color: #696969;
		padding: 3%;
		margin: 0;
	}
	
	.category ul {
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 0.8em;
		color: #696969;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	
	.category ul li {
		margin: 1% 0;
		padding: 10% 5%;
		background-color: #F1F1F1;
	}
	
	
	.summary {
		float: left;
		width: 100%;
		margin-bottom: 5%;
	}
	
	.ticketbox {
		width: 100%;
		float: right;
	}
	
	.tickets {
		border: thin dashed #696969;
		padding: 5%;
		display: inline-block;
		margin: 1% 0;
	}
	
	.tickets h3, h6, p {
		font-family: Inconsolata;
		color: #696969;
	}
	
	.tickets img {
		display: block;
		width: 25%;
		float: right;
		margin: 1% 0;
	}
	
	.left {
		float: left;
		width: 65%;
	}
	
	.total {
		color: #921719;
	}
	
	.details {
		border-bottom: thin solid #921719;
		font-size: 1.2em;
		padding-bottom: 3%;
	}
	
	.right {
		float: right;
		clear: right;
		text-align: right;
		width: 35%;
	}
	
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
	#subheader {
		position: relative;
		margin: 0;
	}
	
	#subheader h2 {
		text-transform: uppercase;
		padding: 1.25%;
		color: #FFF;
		margin-bottom: 0.5%;
		font-size: 1em;
	}
	
	.moviebox {
		width: 97%;
		position: relative;
		margin: 0.5% 0;
		padding: 1.5%;
		display: inline-block;
		background-color: #FFF;
	}
	
	.moviebox img {
		width: 100%;
		margin-bottom: 5%;
		float: left;
	}

	.moviebox h2 {
		margin: 0;
		color: #252525;
		text-transform: uppercase;
		font-size: 1.2em;
	}
	
	.moviebox h6 {
		font-size: 0.85em;
		text-align: left;
		margin: 0;
		padding: 0;
		color: #696969;
		letter-spacing: 0.12em;
		font-weight: lighter;
		margin-top: 0.75%;
		display: block;
	}
	
	.moviebox h3 {
		font-size: 0.85em; 
		color: #696969;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		margin: 0;
		margin-right: 2%;
	}
	
	.moviebox a {
		text-transform: uppercase;
		float: right;
		margin: 2.5% 0;
		color: #921719;
	}
	
	.total {
		color: #921719;
	}
	
	.category {
		display: inline-block;
		width: 100%;
		margin: 3% 0;
	}
	
	.category h3 {
		text-align: center;
		color: #FFF;
		background-color: #696969;
		padding: 3%;
		margin: 0;
	}
	
	.category ul {
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 0.9em;
		color: #696969;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	
	.category ul li {
		margin: 1% 0;
		padding: 10% 5%;
		background-color: #F1F1F1;
	}
	
	
	.summary {
		float: left;
		width: 32%;
	}
	
	.ticketbox {
		width: 65%;
		float: right;
	}
	
	.tickets {
		border: thin dashed #696969;
		padding: 5%;
		display: inline-block;
		margin: 1% 0;
	}
	
	.tickets h3, h6, p {
		font-family: Inconsolata;
		color: #696969;
	}
	
	.tickets img {
		display: block;
		width: 25%;
		float: right;
		margin: 1% 0;
	}
	
	.left {
		float: left;
		width: 65%;
	}
	
	.total {
		color: #921719;
	}
	
	.details {
		border-bottom: thin solid #921719;
		font-size: 1.2em;
		padding-bottom: 3%;
	}
	
	.right {
		float: right;
		clear: right;
		text-align: right;
		width: 35%;
	}
}

@media only screen and (min-width: 1000px) {
	#subheader {
		position: relative;
		margin: 0;
	}
	
	#subheader h2 {
		text-transform: uppercase;
		padding: 1.25%;
		color: #FFF;
		margin-bottom: 0.5%;
		font-size: 1em;
	}
	
	.moviebox {
		width: 96%;
		position: relative;
		margin: 0.5% 0;
		padding: 2%;
		display: inline-block;
		background-color: #FFF;
	}
	
	.moviebox img {
		width: 100%;
		margin-bottom: 5%;
		float: left;
	}
	
	.moviebox h2 {
		margin: 0;
		color: #252525;
		text-transform: uppercase;
		font-size: 1.5em;
	}
	
	.moviebox h6 {
		font-size: 0.9em;
		margin: 0;
		padding: 0;
		color: #696969;
		letter-spacing: 0.12em;
		font-weight: lighter;
		margin-top: 0.75%;
		display: block;
	}
	
	.moviebox h3 {
		font-size: 0.9em; 
		color: #696969;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		margin: 0.5% 0;
	}
	
	.moviebox p {
		font-size: 0.9em;
		color: #696969;
		letter-spacing: 0.12em;
	}
	
	.moviebox a {
		text-transform: uppercase;
		float: right;
		margin: 2.5% 0;
		color: #921719;
	}
	
	.summary {
		float: left;
		width: 32%;
	}
	
	.category {
		display: inline-block;
		width: 100%;
		margin: 3% 0;
	}
	
	.category h3 {
		text-align: center;
		color: #FFF;
		background-color: #696969;
		padding: 3%;
		margin: 0;
	}
	
	.category ul {
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 0.9em;
		color: #696969;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	
	.category ul li {
		margin: 1% 0;
		padding: 10% 5%;
		background-color: #F1F1F1;
	}
	
	.ticketbox {
		width: 65%;
		float: right;
	}
	
	.tickets {
		border: thin dashed #696969;
		padding: 5%;
		display: inline-block;
		margin: 1% 0;
	}
	
	.tickets h3, h6, p {
		font-family: Inconsolata;
		color: #696969;
	}
	
	.tickets img {
		display: block;
		width: 25%;
		float: right;
		margin: 1% 0;
	}
	
	.left {
		float: left;
		width: 65%;
	}
	
	.total {
		color: #921719;
	}
	
	.details {
		border-bottom: thin solid #921719;
		font-size: 1.2em;
		padding-bottom: 3%;
	}
	
	.right {
		float: right;
		clear: right;
		text-align: right;
		width: 35%;
	}
	
}

@media print {
	#header, #nav, #footer {
		display: none;
	}
	
	h2, h3, h6 {
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	
	
	#subheader {
		position: relative;
		margin: 0;
	}
	
	#subheader h2 {
		text-transform: uppercase;
		padding: 1.25%;
		color: #696969;
		margin-bottom: 0.5%;
		font-size: 1em;
	}
	
	.moviebox {
		width: 96%;
		position: relative;
		margin: 0.5% 0;
		padding: 1.5%;
		display: inline-block;
		background-color: #FFF;
	}
	
	.moviebox img {
		width: 100%;
		margin-bottom: 5%;
		float: left;
	}
	
	.moviebox h2 {
		margin: 0;
		color: #252525;
		text-transform: uppercase;
		font-size: 1.5em;
	}
	
	.moviebox h6 {
		font-size: 0.9em;
		margin: 0;
		padding: 0;
		color: #696969;
		letter-spacing: 0.12em;
		font-weight: lighter;
		margin-top: 0.75%;
		display: block;
	}
	
	.moviebox h3 {
		font-size: 0.9em; 
		color: #696969;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		margin: 0.5% 0;
	}
	
	.moviebox p {
		font-size: 0.9em;
		color: #696969;
		letter-spacing: 0.12em;
	}
	
	.moviebox a {
		display: none;
	}
	
	.summary {
		float: left;
		width: 32%;
	}
	
	.category {
		display: inline-block;
		width: 100%;
		margin: 3% 0;
	}
	
	.category h3 {
		text-align: left;
		color: #FFF;
		background-color: #696969;
		margin: 0;
	}
	
	.category ul {
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 0.9em;
		color: #696969;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	
	.category ul li {
		margin: 1% 0;
		padding: 0;
		background-color: #F1F1F1;
	}
	
	.ticketbox {
		width: 65%;
		float: right;
	}
	
	.tickets {
		border: thin dashed #696969;
		padding: 5%;
		display: inline-block;
		margin: 1% 0;
	}
	
	.tickets h3, h6, p {
		font-family: Inconsolata;
		color: #696969;
	}
	
	.tickets img {
		display: block;
		width: 25%;
		float: right;
		margin: 1% 0;
	}
	
	.left {
		float: left;
		width: 65%;
	}
	
	.total {
		color: #921719;
	}
	
	.details {
		border-bottom: thin solid #921719;
		font-size: 1.2em;
		padding-bottom: 3%;
	}
	
	.right {
		float: right;
		clear: right;
		text-align: right;
		width: 35%;
	}
}