@charset "UTF-8";

@media only screen and (min-width: 320px) {
	#movies a {
		color: #921719;
	}
}

@media only screen and (max-width: 479px) {
	#subheader {
		position: relative;
		margin: 0;
	}
	
	#subheader h2 {
		text-transform: uppercase;
		padding: 2%;
		color: #FFF;
		margin-bottom: 0.5%;
		font-size: 0.7em;
	}
	
	.moviebox {
		width: 95%;
		position: relative;
		margin: 0.5% 0;
		padding: 2.5%;
		display: inline-block;
		background-color: #FFF;
	}

	.moviebox img {
		width: 100%;
		margin-right: 1.75%;
	}
	
	.moviebox a {
		float: right;
		width: 100%;
		font-size: 0.75em;
		margin-top: 1.5%;
		padding-top: 1%;
		vertical-align: middle;
		text-align: center;
		background-color: #FFF;
		border-top: thin solid #D5D5D5;
		color: #696969;
		text-transform: uppercase;
	}
	
	.box {
		vertical-align: top;
		position: relative;
		height: 310px;
		margin: 2.5% 0;
		padding: 2%;
	}
	
	.moviebox h2 {
		margin: 0;
		color: #252525;
		text-transform: uppercase;
		font-size: 0.8em;
	}
	
	.moviebox h6 {
		font-size: 0.65em;
		text-align: left;
		margin: 0;
		padding: 0;
		color: #696969;
		letter-spacing: 0.12em;
		font-weight: lighter;
		margin-top: 0.75%;
	}
	
	.moviebox h3 {
		font-size: 0.65em; 
		color: #696969;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		margin: 0;
	}
	
	.moviebox p {
		font-size: 0.6em;
		font-variant: normal;
		text-align: left;
		margin: 2.5%;
		margin-left: 0;
		margin-right: 1.5%;
		color: #696969;
		letter-spacing: 0.12em; 

	}
	
	.moreinfo summary {
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-variant: normal;
		text-align: left;
		margin: 0;
		padding: 0;
		color: #696969;
		letter-spacing: 0.12em;
		font-size: 0.6em; 
		font-weight: bold;
		text-transform: uppercase;
	}
	
	#sessions {
		width: 97%;
		margin-top: 5%;
		padding-right: 0;
	}
	
	.session {
		display: inline-block;
		background-color: #8B8B8B;
		width: 25%;
		margin: 1.5% 0.25%;
		padding: 1.5% 3%;
		
	}
	
	.session p {
		color: #FFF;
		text-transform: uppercase;
		text-align: center;
		font-weight: 500;
		font-size: 0.3em;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	#subheader {
		position: relative;
		margin: 0;
	}
	
	#subheader h2 {
		text-transform: uppercase;
		padding: 1.5%;
		color: #FFF;
		margin-bottom: 0.5%;
		font-size: 0.9em;
	}
	
	.moviebox {
		width: 95%;
		position: relative;
		margin: 0.5% 0;
		padding: 2.5%;
		display: inline-block;
		background-color: #FFF;
	}

	.moviebox img {
		width: 100%;
		margin-right: 1.75%;
	}
	
	.moviebox a {
		float: right;
		width: 100%;
		font-size: 0.9em;
		margin-top: 1.5%;
		padding-top: 1%;
		vertical-align: middle;
		text-align: center;
		background-color: #FFF;
		border-top: thin solid #D5D5D5;
		color: #696969;
		text-transform: uppercase;
	}
	
	.box {
		vertical-align: top;
		position: relative;
		height: 320px;
		margin: 2.5% 0;
		padding: 1.5%;
	}
	
	.moviebox h2 {
		margin: 0;
		color: #252525;
		text-transform: uppercase;
		font-size: 1em;
	} 
	
	.moviebox h6 {
		font-size: 0.75em;
		text-align: left;
		margin: 0;
		padding: 0;
		color: #696969;
		letter-spacing: 0.12em;
		font-weight: lighter;
		margin-top: 0.75%;
	}
	
	.moviebox h3 {
		font-size: 0.75em; 
		color: #696969;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		margin: 0;
	}
	
	.moviebox p {
		font-size: 0.75em;
		font-variant: normal;
		text-align: left;
		margin: 2.5%;
		margin-left: 0;
		margin-right: 1.5%;
		color: #696969;
		letter-spacing: 0.12em; 

	}
	
	.moreinfo summary {
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-variant: normal;
		text-align: left;
		margin: 0;
		padding: 0;
		color: #696969;
		letter-spacing: 0.12em;
		font-size: 0.7em; 
		font-weight: bold;
		text-transform: uppercase;
	}
	
	#sessions {
		width: 97%;
	}
	
	.session {
		display: inline-block;
		background-color: #8B8B8B;
		width: 30%;
		margin: 1.5% 0.75%;
		padding: 0.5%;
		
	}
	
	.session p {
		color: #FFF;
		text-transform: uppercase;
		text-align: center;
		font-weight: 500;
		font-size: 0.6em;
	}
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
	#subheader {
		position: relative;
		margin: 0;
	}
	
	#subheader h2 {
		text-transform: uppercase;
		padding: 1.25%;
		color: #FFF;
		margin-bottom: 0.5%;
		font-size: 1em;
	}
	
	.moviebox {
		width: 97%;
		position: relative;
		margin: 0.5% 0;
		padding: 1.5%;
		display: inline-block;
		background-color: #FFF;
	}
	
	.moviebox img {
		width: 30%;
		margin-right: 1.75%;
		float: left;
	}
	
	.moviebox a {
		float: right;
		width: 100%;
		font-size: 0.9em;
		margin-top: 1.5%;
		padding-top: 1%;
		vertical-align: middle;
		text-align: center;
		background-color: #FFF;
		border-top: thin solid #D5D5D5;
		color: #696969;
		text-transform: uppercase;
	}
	
	.box {
		vertical-align: top;
		position: relative;
		height: 320px;
	}
	
	.moviebox h2 {
		margin: 0;
		color: #252525;
		text-transform: uppercase;
		font-size: 1.15em;
	}
	
	.moviebox h6 {
		font-size: 0.75em;
		text-align: left;
		margin: 0;
		padding: 0;
		color: #696969;
		letter-spacing: 0.12em;
		font-weight: lighter;
		margin-top: 0.75%;
	}
	
	.moviebox h3 {
		font-size: 0.75em; 
		color: #696969;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		margin: 0;
	}
	
	.moviebox p {
		font-size: 0.7em;
		font-variant: normal;
		text-align: left;
		margin: 2.5%;
		margin-left: 0;
		margin-right: 1.5%;
		color: #696969;
		letter-spacing: 0.12em; 

	}
	
	.moreinfo summary {
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-variant: normal;
		text-align: left;
		margin: 0;
		padding: 0;
		color: #696969;
		letter-spacing: 0.12em;
		font-size: 0.7em; 
		font-weight: bold;
		text-transform: uppercase;
	}
	
	#sessions {
		width: 97%;
	}
	
	.session {
		display: inline-block;
		background-color: #8B8B8B;
		width: 20.25%;
		margin: 1% 0.25%;
		padding: 0.5%;
		
	}
	
	.session p {
		color: #FFF;
		text-transform: uppercase;
		text-align: center;
		font-weight: 500;
		font-size: 0.7em;
	}
	
}

@media only screen and (min-width: 1000px) {
	#subheader {
		position: relative;
		margin: 0;
	}
	
	#subheader h2 {
		text-transform: uppercase;
		padding: 1.25%;
		color: #FFF;
		margin-bottom: 0.5%;
		font-size: 1em;
	}
	
	.moviebox {
		width: 97%;
		position: relative;
		margin: 0.5% 0;
		padding: 1.5%;
		display: inline-block;
		background-color: #FFF;
	}
	
	.moviebox img {
		width: 30%;
		margin-right: 1.75%;
		float: left;
	}
	
	.moviebox a {
		float: right;
		width: 100%;
		font-size: 1em;
		margin-top: 1.5%;
		padding-top: 1%;
		vertical-align: middle;
		text-align: center;
		background-color: #FFF;
		border-top: thin solid #D5D5D5;
		color: #696969;
		text-transform: uppercase;
	}
	
	.box {
		vertical-align: top;
		position: relative;
		height: 350px;
	}
	
	.moviebox h2 {
		margin: 0;
		color: #252525;
		text-transform: uppercase;
		font-size: 1.25em;
	}
	
	.moviebox h6 {
		font-size: 0.85em;
		text-align: left;
		margin: 0;
		padding: 0;
		color: #696969;
		letter-spacing: 0.12em;
		font-weight: lighter;
		margin-top: 0.75%;
	}
	
	.moviebox h3 {
		font-size: 0.85em; 
		color: #696969;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		margin: 0;
	}
	
	.moviebox p {
		font-size: 0.8em;
		font-variant: normal;
		text-align: left;
		margin: 2.5%;
		margin-left: 0;
		margin-right: 1.5%;
		color: #696969;
		letter-spacing: 0.12em; 

	}
	
	.moreinfo summary {
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-variant: normal;
		text-align: left;
		margin: 0;
		padding: 0;
		color: #696969;
		letter-spacing: 0.12em;
		font-size: 0.8em; 
		font-weight: bold;
		text-transform: uppercase;
	}
	
	#sessions {
		width: 97%;
	}
	
	.session {
		display: inline-block;
		background-color: #8B8B8B;
		width: 20.5%;
		margin: 1% 0.25%;
		padding: 0.5%;
		
	}
	
	.session p {
		color: #FFF;
		text-transform: uppercase;
		text-align: center;
		font-weight: 500;
	}
	
}
